.button {
	display: inline-block;
	padding: 1rem 4rem;
	background-color: var(--yellow);
	text-transform: uppercase;
	font-weight: 500;
	&:hover {
		-webkit-transform: scale(0.95);
		    -ms-transform: scale(0.95);
		        transform: scale(0.95);
		background-color: darken(#D7E13D, 10%);
	}
	@include respond (phone) {
		padding: .8rem 3rem;
	}
	@include respond (px-485) {
		padding: .8rem 3rem;
	}
}