.checkbox {
	&__wrapper {
		display: flex;
		justify-content: end;
		align-items: center;
		flex-direction: row-reverse;
		position: relative;
		padding-top: 1rem;
	}
	&__label {
		padding-right: 2.5rem;
	}
	&__input {
		opacity: 0;
		& + .checkbox__label {
		    gap: 1rem;
			cursor: pointer;
		}
		& + .checkbox__label::before {
			content: "\2714";
			border: 1px solid var(--primary);
			width: 2.7rem;
			height: 2.7rem;
			display: flex;
			align-items: center;
			justify-content: center;
			color: transparent;
			transition: .2s;
			position: absolute;
			bottom: 0rem;
			right: 0;
			@include respond (phone) {
				width: 2rem;
				height: 2rem;
				bottom: .5rem;
			}
		}
		&:checked + .checkbox__label::before {
			background-color: var(--primary);
			color: var(--white);
		}
		& + .checkbox__label:active::before {
			transform: scale(0);
		}
	}
}

.checkbox__first + .checkbox__label::before {
	@include respond (phone) {
		bottom: 0 !important;
	}
}