.grid {
	padding: 3rem 0;
	&__box {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: end;
		    -ms-flex-pack: end;
		        justify-content: flex-end;
	    @include respond (phone) {
	    	-webkit-box-pack: center;
	    	    -ms-flex-pack: center;
	    	        justify-content: center;
	    }
	}
	&__item {
		@include respond (mini-tab) {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
		}
		&-1 {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;
			gap: 1rem;
			@include respond (mini-tab) {
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				    -ms-flex-direction: column;
				        flex-direction: column;
			}
			h2 {
				text-transform: uppercase;
				@include respond (tab-port) {
					font-size: 1.8rem;
				}
				@include respond (phone) {
					font-size: 1.6rem;
				}
			}
		}
	}
	&__span {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		gap: 1rem;
	}
	&__wrapper {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		padding-top: 2rem;
		gap: 1rem;
		@include respond (mini-tab) {
			padding-top: 4rem;
		}
		&-h2 {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;
			gap: 1rem;
			@include respond (tab-port) {
				font-size: 1.8rem;
			}
			@include respond (mini-tab) {
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				    -ms-flex-direction: column;
				        flex-direction: column;
			}
			@include respond (phone) {
				font-size: 1.6rem;
				text-align: left;
			}
		}
		&-secondary {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
			gap: 2rem;
		}
	}
	&__round {
		font-size: 1.4rem;
	    background-color: var(--primary);
	    width: 12rem;
	    height: 12rem;
	    display: -webkit-inline-box;
	    display: -ms-inline-flexbox;
	    display: inline-flex;
	    border-radius: 50%;
	    -webkit-box-align: center;
	        -ms-flex-align: center;
	            align-items: center;
	    -webkit-box-pack: center;
	        -ms-flex-pack: center;
	            justify-content: center;
	    text-align: center;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	        -ms-flex-direction: column;
	            flex-direction: column;
	    padding: 1rem;
	    color: var(--white);
	    text-transform: lowercase;
	    &-sm {
	    	background-color: var(--secondary);
	    	width: 8rem;
	    	height: 8rem;
	    }
	    strong {
	    	font-size: 1.6rem;
	    }
	}
	&__black {
		color: var(--black);
	}
	&__secondary {
		background-color: var(--secondary);
	}
	&__button {
		padding-top: 5rem;
	}
}