// .center-text {
// 	text-align: center !important;
// }
// //MARGIN
// .mb-large {
// 	margin-bottom: 12rem !important;
// 	@include respond (tab-port) {
// 			margin-bottom: 8rem !important;
// 		}
// }
// .mb-big {
// 	margin-bottom: 8rem !important;
// 	@include respond (tab-port) {
// 			margin-bottom: 5rem !important;
// 		}
// }
// .mb-md {
// 	margin-bottom: 3rem !important;
// 	@include respond (tab-port) {
// 			margin-bottom: 2rem !important;
// 		}
// }
// .mb-sm {
// 	margin-bottom: 1.5rem !important;
// }
// .mt-large {
// 	margin-top: 12rem !important;
// 	@include respond (tab-port) {
// 			margin-top: 8rem !important;
// 		}
// }
// .mt-big {
// 	margin-top: 8rem !important;
// 	@include respond (tab-port) {
// 			margin-top: 5rem !important;
// 		}
// }
// .mt-md {
// 	margin-top: 3rem !important;
// 	@include respond (tab-port) {
// 			margin-top: 2rem !important;
// 		}
// }
// .mt-sm {
// 	margin-top: 1.5rem !important;
// }

// //PADDING
// .pb-large {
// 	padding-bottom: 12rem !important;
// 	@include respond (tab-port) {
// 			padding-bottom: 8rem !important;
// 		}
// }
// .pb-big {
// 	padding-bottom: 8rem !important;
// 	@include respond (tab-port) {
// 			padding-bottom: 5rem !important;
// 		}
// }
// .pb-md {
// 	padding-bottom: 4rem !important;
// 	@include respond (tab-port) {
// 			padding-bottom: 3rem !important;
// 		}
// }
// .pb-sm {
// 	padding-bottom: 1.5rem !important;
// }
// .pt-large {
// 	padding-top: 12rem !important;
// 	@include respond (tab-port) {
// 			padding-top: 8rem !important;
// 		}
// }
// .pt-big {
// 	padding-top: 8rem !important;
// 	@include respond (tab-port) {
// 			padding-top: 5rem !important;
// 		}
// }
// .pt-sm {
// 	padding-top: 1.5rem !important;
// }
.pt-md {
	padding-top: 3rem !important;
	@include respond (tab-port) {
			padding-top: 3rem !important;
		}
}
.flex-50 {
	-webkit-box-flex: 50%;
	    -ms-flex: 50%;
	        flex: 50%;
}
.align-end {
	-webkit-box-align: end !important;
	    -ms-flex-align: end !important;
	        align-items: flex-end !important;
}