/*
0px - 600px:  Phone
600px - 900px:  Tablet portrait
900px - 1200px: Tablet landscape
[1200-1800px] is where our normal style apply
1800px + : Big Desktop

$breakpoint argument choices:
-phone
-tab-port
-tab-land
-big-desktop

ORDER: Base + Typography > Layout + Grid > Page Layout > Components;

1em = 16px;
*/
/*
0px - 600px:  Phone
600px - 900px:  Tablet portrait
900px - 1200px: Tablet landscape
[1200-1800px] is where our normal style apply
1800px + : Big Desktop

$breakpoint argument choices:
-phone
-tab-port
-tab-land
-big-desktop

ORDER: Base + Typography > Layout + Grid > Page Layout > Components;

1em = 16px;
*/
*, html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  list-style: none;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

:root {
  --primary: #769FA0;
  --secondary: #B7CBCC;
  --black: #2C2E35;
  --white: #ffffff;
  --blue: #0E3692;
  --yellow: #D7E13D;
  --right: right;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2rem;
  color: var(--primary);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  padding: 10rem 0;
  text-align: right;
}

@media only screen and (min-width: 112.5em) {
  body {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 75em) {
  body {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 56.25em) {
  body {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 37.5em) {
  body {
    font-size: 1.6rem;
  }
}

a,
a:hover {
  color: var(--blue);
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  text-decoration: none;
}

::-moz-selection {
  background-color: var(--black);
  color: var(--white);
}

::selection {
  background-color: var(--black);
  color: var(--white);
}

.pt-md {
  padding-top: 3rem !important;
}

@media only screen and (max-width: 56.25em) {
  .pt-md {
    padding-top: 3rem !important;
  }
}

.flex-50 {
  -webkit-box-flex: 50%;
  -ms-flex: 50%;
  flex: 50%;
}

.align-end {
  -webkit-box-align: end !important;
  -ms-flex-align: end !important;
  align-items: flex-end !important;
}

.button {
  display: inline-block;
  padding: 1rem 4rem;
  background-color: var(--yellow);
  text-transform: uppercase;
  /*font-size: 1.8rem;*/
  font-weight: 500;
}

.button:hover {
  background-color: #c1cc1f;
}

@media only screen and (max-width: 37.5em) {
  .button {
    padding: .8rem 3rem;
    /*font-size: 1.6rem;*/
  }
}

@media only screen and (max-width: 30.3125em) {
  .button {
    padding: .8rem 3rem;
    /*font-size: 1.6rem;*/
  }
}

.checkbox__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  position: relative;
  padding-top: 1rem;
}

.checkbox__label {
  padding-right: 2.5rem;
}

.checkbox__input {
  opacity: 0;
}

.checkbox__input + .checkbox__label {
  gap: 1rem;
  cursor: pointer;
}

.checkbox__input + .checkbox__label::before {
  content: "\2714";
  border: 1px solid var(--primary);
  width: 2.7rem;
  height: 2.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: transparent;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  position: absolute;
  bottom: 0rem;
  right: 0;
}

@media only screen and (max-width: 37.5em) {
  .checkbox__input + .checkbox__label::before {
    width: 2rem;
    height: 2rem;
    bottom: .5rem;
  }
}

.checkbox__input:checked + .checkbox__label::before {
  background-color: var(--primary);
  color: var(--white) !important;
}

.checkbox__input + .checkbox__label:active::before {
  color: var(--white);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

@media only screen and (max-width: 37.5em) {
  .checkbox__first + .checkbox__label::before {
    bottom: 0 !important;
  }
}

.question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  gap: 1rem;
  text-align: right;
}

.question__sign {
  cursor: pointer;
  background-color: var(--secondary);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: var(--white);
  font-size: 1.6rem;
}

.question__sign:hover {
  color: var(--white);
}

.question__form {
  width: 2.5rem;
  height: 2.5rem;
  background: var(--secondary);
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: var(--white);
}

.form {
  padding: 3rem 0;
}

.form__input {
  border: 0;
  border-bottom: 1px solid var(--primary);
  color: var(--black);
  font-weight: 400;
  padding: 0 1rem;
  text-align: right;
}

.form__input:focus {
  outline: none;
}

.form__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  gap: 5rem;
}

@media only screen and (max-width: 61.9375em) {
  .form__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 3rem;
  }
}

.form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.form__wrapper label {
  padding-right: 1.5rem;
}

@media only screen and (max-width: 61.9375em) {
  .form__blank {
    display: none;
  }
}

.grid {
  padding: 3rem 0;
}

.grid__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

@media only screen and (max-width: 37.5em) {
  .grid__box {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 48em) {
  .grid__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.grid__item-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

@media only screen and (max-width: 48em) {
  .grid__item-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.grid__item-1 h2 {
  text-transform: uppercase;
}

@media only screen and (max-width: 56.25em) {
  .grid__item-1 h2 {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .grid__item-1 h2 {
    font-size: 1.6rem;
  }
}

.grid__span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.grid__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
  gap: 1rem;
}

@media only screen and (max-width: 48em) {
  .grid__wrapper {
    padding-top: 4rem;
  }
}

.grid__wrapper-h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

@media only screen and (max-width: 56.25em) {
  .grid__wrapper-h2 {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 48em) {
  .grid__wrapper-h2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 37.5em) {
  .grid__wrapper-h2 {
    font-size: 1.6rem;
    text-align: left;
  }
}

.grid__wrapper-secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.grid__round {
  font-size: 1.4rem;
  background-color: var(--primary);
  width: 12rem;
  height: 12rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 50%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1rem;
  color: var(--white);
  text-transform: lowercase;
}

.grid__round-sm {
  background-color: var(--secondary);
  width: 8rem;
  height: 8rem;
}

.grid__round strong {
  font-size: 1.6rem;
}

.grid__black {
  color: var(--black);
}

.grid__secondary {
  background-color: var(--secondary);
}

.section__bold {
  font-weight: 800;
  font-size: 2rem;
}

.section__upper {
  text-transform: uppercase;
}
