/*
0px - 600px:	Phone
600px - 900px:	Tablet portrait
900px - 1200px:	Tablet landscape
[1200-1800px] is where our normal style apply
1800px + : Big Desktop

$breakpoint argument choices:
-phone
-tab-port
-tab-land
-big-desktop

ORDER: Base + Typography > Layout + Grid > Page Layout > Components;

1em = 16px;
*/
/*
0px - 600px:	Phone
600px - 900px:	Tablet portrait
900px - 1200px:	Tablet landscape
[1200-1800px] is where our normal style apply
1800px + : Big Desktop

$breakpoint argument choices:
-phone
-tab-port
-tab-land
-big-desktop

ORDER: Base + Typography > Layout + Grid > Page Layout > Components;

1em = 16px;
*/
*, html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  list-style: none;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  --primary: #769FA0;
  --secondary: #B7CBCC;
  --black: #2C2E35;
  --white: #ffffff;
  --blue: #0E3692;
  --yellow: #D7E13D;
  --right: right;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2rem;
  color: var(--primary);
  box-sizing: border-box;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  padding: 10rem 0;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: right;
}

@media only screen and (min-width: 112.5em) {
  body {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 75em) {
  body {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 56.25em) {
  body {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 37.5em) {
  body {
    font-size: 1.4rem;
  }
}

a,
a:hover {
  color: var(--blue);
  transition: .3s all;
  text-decoration: none;
}

::selection {
  background-color: var(--black);
  color: var(--white);
}

.pt-md {
  padding-top: 3rem !important;
}

@media only screen and (max-width: 56.25em) {
  .pt-md {
    padding-top: 3rem !important;
  }
}

.flex-50 {
  flex: 50%;
}

.align-end {
  align-items: end !important;
}

.button {
  display: inline-block;
  padding: 1rem 4rem;
  background-color: var(--yellow);
  text-transform: uppercase;
  font-weight: 500;
}

.button:hover {
  background-color: #c1cc1f;
}

@media only screen and (max-width: 37.5em) {
  .button {
    padding: .8rem 3rem;
  }
}

@media only screen and (max-width: 30.3125em) {
  .button {
    padding: .8rem 3rem;
  }
}

.checkbox__wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row-reverse;
  position: relative;
  padding-top: 1rem;
}

.checkbox__label {
  padding-right: 2.5rem;
}

.checkbox__input {
  opacity: 0;
}

.checkbox__input + .checkbox__label {
  gap: 1rem;
  cursor: pointer;
}

.checkbox__input + .checkbox__label::before {
  content: "\2714";
  border: 1px solid var(--primary);
  width: 2.7rem;
  height: 2.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: transparent;
  transition: .2s;
  position: absolute;
  bottom: 0rem;
  right: 0;
}

@media only screen and (max-width: 37.5em) {
  .checkbox__input + .checkbox__label::before {
    width: 2rem;
    height: 2rem;
    bottom: .5rem;
  }
}

.checkbox__input:checked + .checkbox__label::before {
  background-color: var(--primary);
  color: var(--white);
}

.checkbox__input + .checkbox__label:active::before {
  transform: scale(0);
}

@media only screen and (max-width: 37.5em) {
  .checkbox__first + .checkbox__label::before {
    bottom: 0 !important;
  }
}

.question {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
}

.question__sign {
  cursor: pointer;
  background-color: var(--secondary);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-size: 1.6rem;
}

.question__sign:hover {
  color: var(--white);
}

.question__form {
  width: 2.5rem;
  height: 2.5rem;
  background: var(--secondary);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
}

.form {
  padding: 3rem 0;
}

.form__input {
  border: 0;
  border-bottom: 1px solid var(--primary);
  color: var(--black);
  font-weight: 400;
  padding: 0 1rem;
  text-align: right;
}

.form__input:focus {
  outline: none;
}

.form__main {
  display: flex;
  justify-content: end;
  gap: 5rem;
}

@media only screen and (max-width: 61.9375em) {
  .form__main {
    flex-direction: column;
    gap: 3rem;
  }
}

.form__wrapper {
  display: flex;
  align-items: end;
  justify-content: end;
}

.form__wrapper label {
  padding-right: 1.5rem;
}

@media only screen and (max-width: 30.3125em) {
  .form__wrapper {
    flex-direction: column;
    gap: 1rem;
  }
}

@media only screen and (max-width: 61.9375em) {
  .form__blank {
    display: none;
  }
}

.section__bold {
  font-weight: 800;
  font-size: 2rem;
}

.section__upper {
  text-transform: uppercase;
}
